#codewars {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 2em;
  margin: 5rem 0;
  position: relative;
  opacity: 0;
  transform: translateY(20px);
  transition: all 0.5s ease-out;
  box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.1);
  border-radius: 10px;
  
}

#codewars h3 {
  font-size: 1.8rem;
  font-weight: bold;
  margin-bottom: 0.5rem;
  color: #882f2f;
}

#codewars #rank {
  font-size: 1.5rem;
  font-weight: bold;
  margin: 0.5rem 0;
  color: #666;
}

#codewars a {
  display: inline-block;
}

#codewars.visible {
  opacity: 1;
  transform: translateY(0);
}

#codewars a:hover {
  transform: scale(1.05);
  transition: all 0.3s ease-in-out;
}

@media (max-width: 767px) {
  /* For devices with a maximum width of 767px */
  #codewars a img {
    /* Change the link for small badge */
    content: url('https://www.codewars.com/users/CallMeSAUCE!/badges/small');
  }
}

@media (min-width: 768px) {
  /* For devices with a minimum width of 768px */
  #codewars a img {
    /* Change the link for large badge */
    content: url('https://www.codewars.com/users/CallMeSAUCE!/badges/large');
  }
}


@media screen and (max-width: 768px) {
  #codewars {
    margin: 3rem 0;
  }
  
  #codewars h3 {
    font-size: 1.5rem;
  }
  
  #codewars #rank {
    font-size: 1.2rem;
  }
}
