html{
  scroll-behavior: smooth;
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
    font-size: 1.2rem;
    font-family: Arial, sans-serif;
    background-color: #ffffff;
    color: #333;
  }
  
  header {
    background-color: #333;
    color: #fff;
    padding: 20px;
    text-align: center;
  }

 
  .strong {
    color: #ea8b86; /* red */
    font-weight: bold;
  }

  nav {
    background-color: #f2f2f2;
    border-bottom: 1px solid #ccc;
    padding: 10px;
  }
  
  nav ul {
    margin: 0;
    padding: 0;
    list-style: none;
    display: flex;
    justify-content: center;
  }
  
  nav li {
    margin: 0 10px;
  }
  
  nav a {
    color: #333;
    text-decoration: none;
  }
  
  nav a:hover {
    text-decoration: underline;
  }
  
  main {
    max-width: 800px;

    margin: 0 auto;
    padding: 20px;
  }
  
  section {
    margin: 40px 0;
    
  }
  
  section h2 {
    margin-bottom: 20px;
  }

  form {
    display: flex;
    flex-direction: column;
  }
  
  label {
    margin-bottom: 10px;
  }

  
  input,
  textarea {
    padding: 10px;
    margin-bottom: 20px;
    border: 1px solid #ccc;
    border-radius: 4px;
  }
  .project strong{
    transition: color 300ms ease;

  }
  input[type="submit"] {
    background-color: #333;
    color: #fff;
    border: none;
    border-radius: 4px;
    cursor: pointer;
  }
  .getLink{
    color: #171717 ;
  }
  .getLink:hover{
    color: #777 ;
  }
  input[type="submit"]:hover {
    background-color: #555;
  }
      
  footer {
    background-color: #333;
    color: #fff;
    padding: 10px;
    text-align: center;
  }
  /* Responsive styles */
@media only screen and (max-width: 600px) {

  header,h2 {
    font-size: 2em !important;
  }
  
  #about{
    margin:2em 1rem;
    line-height: 1.3;
    text-align: left;
  }

  nav ul {
    justify-content: center;
  }

  nav li {
    margin: 0 5px;
  }
  form {
    display: block;
  }

  label,
  input,
  textarea {
    margin-bottom: 10px;
  }

/* Contact section styles for mobile */
  #contact {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  
  form {
    width: 90%;
  }
  
  label, input, textarea {
    width: 100%;
    margin: 10px 0;
  }
  
  input[type="submit"] {
    width: 100%;
  }
}
/* animations */
.typewriter {
  overflow: hidden; /* Ensures the content is not revealed until the animation */
  border-right: .15em solid rgb(9, 7, 3); /* The typewriter cursor */
  white-space: nowrap; /* Keeps the content on a single line */
  letter-spacing: .15em; /* Adjust as needed */
  animation: 
    typing 3.5s steps(30, end),
    blink-caret .5s step-end infinite;
}
#typed-text {
  position: relative;
min-height: 200px;
  z-index: 1;
}

/* The typing effect */
@keyframes typing {
  from { width: 0 }
  to { width: 100% }
}

/* The typewriter cursor blinking */
@keyframes blink-caret {
  from, to { border-color: transparent }
  50% { border-color: rgb(21, 21, 21) }
}