body.modal-open {
    overflow: hidden !important;
  }
.modalz {
    display: none;
    position: fixed;
    z-index: 100;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.8);
    overflow: auto;
  }
  .modal-content {
    background-color: #333;
    margin: 10% auto;
    padding: 4em 2em;
    border-radius: 10px;
    width: 90%;
    max-width: 600px;
    position: relative;
  }

  .close-button {
    color: #fffefe;
    font-size: 30px;
    font-weight: bold;
    position: absolute;
    top: 10px;
    right: 15px;
    cursor: pointer;
  }
  .close-button:hover {
    color: #8c8c8c;
    
  }
  .modalz h2 {
    margin-top: 0;
    font-size: 22px;
    padding-bottom: 10px;
    border-bottom: 1px solid #a5a5a5;
  }

  .gif-demo {
    display: flex;
    justify-content: center;
    margin-top: 20px;

  }

  .gif-demo img {
    max-width: 100%;
  }

  .like-button {
    /* Styles for the like button */
    font-size: 24px;
    color: #ff6666;
    cursor: pointer;
    transition: transform 0.2s ease;
    display: flex;
    justify-content: center;
    align-items: center;
    justify-self: center;
  }
  
  .like-button:hover {
    transform: scale(1.3);
  }
  
  .like-tooltip {
    /* Styles for the like tooltip */
    position: absolute;
    top: 35px;
    right: 50%;
    transform: translateX(50%);
    color: #fff;
    background-color: #f57171;
    border-radius: 20px;
    padding: 4px 10px;
    font-size: 14px;
    opacity: 0;
    pointer-events: none;
    transition: opacity 0.2s ease;
  }
  
  .like-button:hover + .like-tooltip{
    opacity: 1;
    pointer-events: auto;
  }
  .interaction-section {
    /* ... Your existing interaction-section styles ... */
    display: grid;
    gap:0 2.5rem;
    flex-direction: row;
    align-items: center;
    margin-top: 20px;
    position: relative;
  }
  
  .fork-repo-link {
    /* Styles for the fork repository link */
    color: #007bff;
    font-size: 14px;
    text-decoration: none;
    transition: color 0.2s ease;
    display: flex;
    align-items: center;
    justify-self: flex-end;

  }
  
  .fork-repo-link i {
    /* Styles for the icon */
    margin-right: 5px;
    font-size: 18px;
  }
  .liked{
    color: #ef0000;
  }
  /* Media Queries */
@media (max-width: 768px) {
  .modal-content {
    padding: 3em 2em; /* Adjust padding for smaller screens */
  }
}

@media (max-width: 576px) {
  .modal-content {
    width: 95%;
    padding: 4em 1em; /* Further adjust padding for even smaller screens */
  }
}