
#scroll-message {
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-bottom: 30px;
    transition: opacity 0.9s ease;
    animation: scrollMessage 5s ease-in-out infinite;
  }
  #scroll-message.hide {
   display: none;
  }
  #scroll-message p {
    font-size: 22px;
    font-weight: bold;
    color: #ffffff;
    margin-bottom: 5px;
    background-color: #000000;
    box-shadow: 3px 5px 10px black;
    border-radius: 10px;
    padding: 1rem;
  }
  
  .arrow {
    width: 15px;
    height: 15px;
    border: 2px solid #777;
    border-width: 0 5px 5px 0;
    transform: rotate(45deg);
    animation: arrow 5s ease-in-out infinite;
  }
  
  @keyframes scrollMessage {
    0% {
      opacity: 0;
    }
    50% {
      opacity: 1;
    }
    100% {
      opacity: 0;
    }
  }
  

  @keyframes arrow {
    0% {
      opacity: 0;
      transform: translate(-50%, 100px) rotate(45deg);
      -webkit-transform: translate(-50%, -10px) rotate(45deg);
    }
    50% {
      opacity: 1;
      transform: translate(-50%, 0) rotate(45deg);
      -webkit-transform: translate(-50%, 0) rotate(45deg);
    }
    100% {
      opacity: 0;
      transform: translate(-50%, 10px) rotate(45deg);
      -webkit-transform: translate(-50%, 10px) rotate(45deg);
    }
  }

  @media screen and (max-width: 768px) {
    #scroll-message p {
        font-size: 20px;
        color: #000000; 
      }
      #scroll-message {
  background-color: #ffffff; /* black background */
  padding: .5em;
  border-radius: 5px;
  text-align: center;
  z-index: 9999;
      }
      
      .arrow {
        
        width: 15px;
        height: 15px;
        border: 2px solid #101010;
        border-width: 0 5px 5px 0;
        transform: rotate(45deg);
        animation: arrow 2s ease-in-out infinite;
       
      }
    
      
  }