html{
  scroll-behavior: smooth;
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
    font-family: Arial, sans-serif;
    background: linear-gradient(270deg, #000000, #05010a, #0f041b, #15072d, #150a40, #140a4f, #130a55);
    color: #eaeaea;
    
  }
  /* //marking styles*/
  .circle-sketch-highlight {
    position: relative;
    left: 0.5em;
    font-family: Libre Franklin;
    font-size: 32px;
    font-weight: 500;
  }
  .circle-sketch-highlight:before {
    content: "";
    z-index: -1;
    left: -0.5em;
    top: -0.1em;
    border-width: 2px;
    border-style: solid;
    border-color: #ff04dea8;
    position: absolute;
    border-right-color: transparent;
    width: 100%;
    height: 1em;
    transform: rotate(2deg);
    opacity: 0.7;
    border-radius: 50%;
    padding: 0.1em 0.25em;
  }
  .circle-sketch-highlight:after {
    content: "";
    z-index: -1;
    left: -0.5em;
    top: 0.1em;
    padding: 0.1em 0.25em;
    border-width: 2px;
    border-style: solid;
    border-color: #b326ff7c;
    border-left-color: transparent;
    border-top-color: transparent;
    position: absolute;
    width: 100%;
    height: 1em;
    transform: rotate(-1deg);
    opacity: 0.7;
    border-radius: 50%;
  }
  
  
.profile-container {
  margin:4rem auto;
  width: 160px;
  height: 160px;
  border-radius: 50%;
  background-color: #000000c6;
  overflow: hidden;
  outline: 1rem solid rgba(44, 44, 44, 0.54);
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
}
/* Profile picture */
.profile-pic {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 50%;
}




  .strong {
    color: #ea8b86;
    font-weight: bold;
  }
 /* icons styling here  */
 .portfolio-introduction {
  font-size: 18px;
  text-align: center;
  padding: 40px 0;
  background-color: #6260601d;
}

.portfolio-introduction h1 {
  font-size: 24px;
  margin-bottom: 10px;
}

.portfolio-introduction p {
  margin-bottom: 15px;
}

.icon-container {
  display: flex;
  justify-content: center;
}

.icon-grid {
  list-style-type: none;
  padding: 0;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 20px;
  margin-top: 20px;
}

.icon-grid li {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: #000000;
  padding: 30px;
  border-radius: 10px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  transition: transform 0.3s ease;
  position: relative;
}

.icon-grid li:hover {
  transform: translateY(-10px);
}

.icon-item {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 80px;
  height: 80px;
  border-radius: 50%;
}

.icon-item i {
  font-size: 40px;
  color: #fff;
}

.tooltipExp {
  position: absolute;
  bottom: -20px;
  left: 50%;
  transform: translateX(-50%);
  display: none;
  width: 160px;
  padding: 10px;
  background-color: rgba(255, 255, 255, 0.8);
  color: #000000;
  font-size: 12px;
  border-radius: 5px;
  text-align: center;
  z-index: 1000;
}

.icon-item:hover .tooltipExp {
  display: block;
}


/* Responsive Adjustments for the codes above */
@media (max-width: 768px) {
  .icon-grid {
    grid-template-columns: repeat(2, minmax(100px, 1fr));
    gap: 20px;
  }

  .icon-item {
    width: 60px;
    height: 60px;
  }

  .icon-item i {
    font-size: 30px;
  }

  .tooltipExp {
    font-size: 12px;
  }
}

@media (max-width: 576px) {
  .icon-grid {
    grid-template-columns: repeat(2, minmax(80px, 1fr));
    gap: 5px;
  }

  .icon-item {
    width: 40px;
    height: 40px;
  }

  .icon-item i {
    font-size: 20px;
  }

  .tooltipExp {
    font-size: 12px;
  }
}


  main {
    max-width: 800px;
    margin: 0 auto;
    padding: 5px;
  }
  

  section h2 {
    margin-bottom: 20px;
    text-align: center !important;
  }

  .project strong{
    transition: color 300ms ease;

  }

  .getLink{
    color: greenyellow ;
  }
  .getLink:hover{
    color: #777 ;
  }
  input[type="submit"]:hover {
    background-color: #555;
  }
      
  footer {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-color: #212529;
    margin-top: 2rem;
    color: #fff;
    padding: 1em ;
    text-align: center;
  }
  /* Responsive styles */
@media only screen and (max-width: 784px) {

  header,h2 {
    font-size: 1.4em !important;
  }
  #category-buttons{
    margin:2em 1rem;

  }
  #about{
    margin:2em 1rem;
    line-height: 1.3;
    text-align: left;
  }

  nav ul {
    justify-content: center;
  }

  nav li {
    margin: 0 5px;
  }
  
/* animations */
.typewriter {
  color:greenyellow;
  overflow: hidden; /* Ensures the content is not revealed until the animation */
  border-right: .15em solid rgb(1, 255, 39); /* The typewriter cursor */
  white-space: nowrap; /* Keeps the content on a single line */
  letter-spacing: 1em; /* Adjust as needed */
  animation: 
    typing 3.5s steps(30, end),
    blink-caret .5s step-end infinite;
}
#typed-text {
  position: relative;
  z-index: 1;
}
.lowOpa{
  opacity: .7;
}
/* The typing effect */
@keyframes typing {
  from { width: 0 }
  to { width: 100% }
}

/* The typewriter cursor blinking */
@keyframes blink-caret {
  from, to { border-color: transparent }
  50% { border-color: rgb(21, 21, 21) }
}
}

 /* Additional styles for the social link text */
 .separator {
  border-top: 4px solid #ddd;
 
}
 #social-links i {
  font-size: 30px !important;
 }
 #social-links a:nth-child(1){
  background-color: #000000;

 }
 #social-links a:nth-child(3){
  background-color: #c71610;

 }
 #social-links a{
  position: relative; /* Add relative positioning */
  display: inline-block;
  margin: 1rem;
  background-color: #100586;

  color: #fff;
  padding: 12px;
  border-radius: 50%;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
  transition: transform 0.3s, background-color 0.2s;
  overflow: hidden; /* Hide the tooltip overflow */
}

/* Style for the social link text */
#social-links a::before {
  content: attr(data-text);
  position: absolute;
  top: -40px;
  left: 50%;
  transform: translateX(-50%);
  font-size: 20px;
  color: #fff;
  background-color: rgba(0, 0, 0, 0.8);
  padding: 5px 10px;
  border-radius: 3px;
  opacity: 0;
  transition: opacity 0.2s, transform 0.2s;
  pointer-events: none;
}

#social-links a:hover {
  transform: scale(1.1);
  box-shadow: 0 8px 20px rgba(0, 0, 0, 0.5); /* Add a more prominent box shadow on hover */
}

#social-links a:hover::before {
  opacity: 1;
  transform: translate(-50%, -60%); /* Adjust the position of the tooltip on hover */
}

/* Cracking animation */
@keyframes crack {
  0% {
    transform: translateY(0) rotate(0);
  }
  25% {
    transform: translateY(-4px) rotate(5deg);
  }
  50% {
    transform: translateY(-2px) rotate(-5deg);
  }
  75% {
    transform: translateY(-4px) rotate(5deg);
  }
  100% {
    transform: translateY(0) rotate(0);
  }
}

.cracked {
  animation: crack 0.5s linear;
}